<div class="contact-form">
    <form id="contactForm">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Name" required id="name">
        </div>
        
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Your Email" required id="email">
        </div>
        
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject" required id="subject">
        </div>
        
        <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="Your Message" required id="message"></textarea>
        </div>
        
        <button type="submit" class="btn">Send Message to Kaiwala</button>
    </form>
</div>