<div class="container">
    <div class="footer-content">
        <p>&copy; 2026 GALUFUTECH. All Rights Reserved.</p>
        
        <div class="social-links">
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="https://wa.me/260770875111" target="_blank"><i class="fab fa-whatsapp"></i></a>
            <a href="mailto:sambangokaiwala@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
</div>